

body {
    color: #8f8f8f;                     /* указывает цвет текста*/
    font: 12px Tahome, sans-serif;      /* указали шрифт 12 пикселей, стиль тахома, без засечек*/
    background-color: #8f8f8f;          /* цвет фона страницы*/
    border-top: 5px solid #7e7e7e;      /* указали линию в самом верху страницы, размером 5п, жирная,цвет*/
    margin: 0;                          /* внешний отступ*/
}

